html {
  scroll-behavior: smooth;
}
body {
	background-color:black;
} 
h1 { 
	color: purple;
	text-align: center; 
}
p {
	margin-right: 5%;
    margin-left: 5%;
	font-family: "Rockwell";
	font-size: 24px; 
	text-align: center; 
	color: white; 
}
table { 
	width: 25%; 
	text-align: center; 
	border: 2px solid;
} 

