html {
  scroll-behavior: smooth;
}
body {
	background-color:black;
} 
h1 { 
	color: purple;
	text-align: center; 
}
p {
	margin-right: 5%;
    margin-left: 5%;
	font-family: "Rockwell";
	font-size: 24px; 
	text-align: center; 
	color: white; 
}
table { 
	width: 25%; 
	text-align: center; 
	border: 2px solid;
} 

.button {
  padding: 15px 25px;
  font-family:serif; 
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 2px solid white;
  color: #fff;
  background-color: #662cb7;
  border-radius: 15px;
  box-shadow: 0 9px #484848;
}
 /* 401a75 */
.button:hover {background-color: #123742}

.button:active {
  background-color: #662cb7;
  box-shadow: 0 5px #484848;
	transform: translateY(4px);
}

.button2 {
  padding: 15px 25px;
  font-family:serif; 
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 2px solid white;
  color: #fff;
  background-color: #0f7f9e;
  border-radius: 15px;
  box-shadow: 0 9px #484848;
}
 /* 401a75 */
.button2:hover {background-color: #401a75}

.button2:active {
  background-color: #0f7f9e;
  box-shadow: 0 5px #484848;
	transform: translateY(4px);
}

.BIGbutton {
  padding: 100px 80px;
  font-family:serif; 
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 2px solid white;
  color: #fff;
  background-color: #662cb7;
  border-radius: 15px;
  box-shadow: 0 9px #484848;
}
 /* 401a75 */
.BIGbutton:hover {background-color: #123742}

.BIGbutton:active {
  background-color: #662cb7;
  box-shadow: 0 5px #484848;
	transform: translateY(4px);
}

.toTopButton {
  display: none;
  padding: 15px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-family:serif; 
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 2px solid white;
  color: #fff;
  background-color: #662cb7;
  border-radius: 4px;
}
 /* 401a75 */
.toTopButton:hover {background-color: #123742}